---
permalink: "notes/{{ page.fileSlug | slugify }}/"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if title %}{{ title }}{% else %}{{ page.fileSlug }}{% endif %}</title>
    {%include "components/pageheader.njk"%}
  </head>
  <body class="theme-{{meta.baseTheme}} markdown-preview-view markdown-rendered markdown-preview-section">
    {%include "components/notegrowthhistory.njk"%}
    
    {% if settings.dgShowFileTree !== true %}
      {%include "components/navbar.njk"%}
    {%else%}
      {%include "components/filetree.njk"%}
    {% endif %}

    {% if settings.dgEnableSearch === true %}
      {%include "components/searchContainer.njk"%}
    {% endif %}

    <div class="content cm-s-obsidian">
      {% if settings.dgShowInlineTitle === true %}
        <h1>{% if title %}{{ title }}{% else %}{{ page.fileSlug }}{% endif %}</h1>
      {% endif %}
      {{ content | link | highlight | safe}}
    </div>

    {% if settings.dgShowBacklinks === true or settings.dgShowLocalGraph === true or settings.dgShowToc === true%}
      {%include "components/sidebar.njk"%}
    {% endif %}

    {% if settings.dgLinkPreview === true %}
      {%include "components/linkPreview.njk"%}
    {% endif %}
    
    <!-- provides scratchblock support 
old selectors: div.blocks pre, .scratch, pre.language-scratchblock code, pre.language-scratchblock, .language-scratchblocks, div.callout-scratch pre, div.ad-scratch pre,
new selectors: div.blocks pre, pre code.language-scratchblock, div.language-ad-scratch pre, blockquote pre.language-scratchblock
not working: div.language-scratchblock pre, pre code.language-scratchblock,pre.language-scratchblock code,div.blocks pre
-->
<script>
scratchblocks.renderMatching('div.blocks pre, pre code.language-scratchblock, pre.language-scratchblock, div.language-ad-scratch pre', {
  style:     'scratch3',   // Optional, defaults to 'scratch2'.
  scale: 1,                // Optional, defaults to 1
});
</script>

  </body>
</html>
