<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ item.title }}</title>
    {%include "components/pageheader.njk"%}
  </head>
  <body>
    <div class="content">
      {%- if item.tags !== 'Garden' -%}
        <a href="/">🏡 Back Home</a>
        {%endif%}
        {{ item.content | safe}}
      </div>
<script>
scratchblocks.renderMatching('div.blocks pre', {
  style:     'scratch3',   // Optional, defaults to 'scratch2'.
  languages: ['en', 'de'], // Optional, defaults to ['en'].
  scale: 1,                // Optional, defaults to 1
});
</script>
    </body>
  </html>
