body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    
    div.scratchblocks text.sb3-label {
        color: blue;
        fill: blue;
        /* font-family: sans-serif; */
        font-size: 11pt;
        font-weight: bolder;
    }


    div.scratchblocks path.sb3-obsolete {
        fill: bisque;
        stroke: transparent;
    }


    div.scratchblocks path.sb3-obsolete ~ text.sb3-label {
        color: black;
        fill: black;
        font-family: serif;
        font-size: 10pt;
      
    }



    
div.language-ad-scratch div.admonition-title {
    /* display: none; */
    float: right;
    font-family: fantasy;
    /* border: var(--text-normal) 2px solid; */
    padding: 12px;
    padding-bottom: 0px;
    /* padding-left: 40px; */
    border-radius: 13px;
    /* margin-right: 50%; */
    /* z-index: 14; */
    /* margin-right: 20px; */
    /* flex-wrap: nowrap; */
    width: 150px;
    text-align: right;
}
    
div.language-ad-scratch div.admonition-title::before {
    content: "";
    display: inline-flex;
    background: #ccc url(http://maps.google.com/mapfiles/kml/pal5/icon12.png) no-repeat;
    width: 1.4rem;
    background-size: contain;
    background-color: transparent;
    height: 1.4rem;
    /* margin-left: 6px; */
}    
    
div[class*=language-ad-] {
    font-size: revert;
}


}

body.markdown-preview-view div.blocks pre , body.markdown-rendered  div.blocks pre {
    background-color: bisque; 
    width: 90%;
    margin: auto;
    overflow: scroll;
}

body.markdown-preview-view {
    font-weight: bolder;
}


body.markdown-preview-view summary {
    background: darkcyan;
    width: 70%;
}

.scratchblocks::-webkit-scrollbar {
    display: block;
    width: 20px;
    height: 20px!important;
    -webkit-border-radius: 34px;
}

.scratchblocks::-webkit-scrollbar-thumb {
    background-color: #c0ffc9 !important;
    height: 50px;
    border: 1px solid var(--text-muted);
}


.scratchblocks::-webkit-scrollbar-track {
    background: var(--text-accent-hover)!important;
    width: 20px;
    height: 40px;
    border-radius: 5px;
    border: 3px solid var(--text-muted) !important;
}


.scratchblocks {
    overflow: auto;
}



h1:before, h2:before, h3:before, h4:before, h5:before {
    display: none;
}

code[class*=language-] {
    display: inline;
}

.markdown-preview-view pre {
    background-color: transparent;
    display: inline;
}

.markdown-preview-view pre.mermaid {
    background: var(--text-normal);
    display: block;
    text-align: center;
}
