body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    
    div.scratchblocks text.sb3-label {
        color: blue;
        fill: blue;
        /* font-family: sans-serif; */
        font-size: 11pt;
        font-weight: bolder;
    }


    div.scratchblocks path.sb3-obsolete {
        fill: bisque;
        stroke: transparent;
    }


    div.scratchblocks path.sb3-obsolete ~ text.sb3-label {
        color: black;
        fill: black;
        font-family: "Times New Roman", serif;
        font-size: 12pt;
    }



    body.markdown-preview-view div.blocks pre , body.markdown-rendered  div.blocks pre {
        background-color: bisque; 
    }

}

