body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    ::-webkit-scrollbar, *::-webkit-scrollbar  {
     display: block!important;
        width: 25px;
       
    }  

/*** Fix fonts after digital garded upgrade ***/

    --h1-font: "Ranille Normal", serif;  
    --h2-font: "Ranille Normal", serif; 
    --h3-font: "Ranille Normal", serif; 
    --h4-font: "Ranille Normal", serif; 
    --h5-font: "Ranille Normal", serif; 
    --h6-font: "Ranille Normal", serif; 


    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    
    div.scratchblocks text.sb3-label {
        color: blue;
        fill: blue;
        /* font-family: sans-serif; */
        font-size: 10pt;
        font-weight: bolder;
    }


    div.scratchblocks path.sb3-obsolete {
        fill: bisque;
        stroke: transparent;
    }


    div.scratchblocks path.sb3-obsolete ~ text.sb3-label {
        color: black;
        fill: black;
        font-family: serif;
        font-size: 10pt;
      
    }



    
div.language-ad-scratch div.admonition-title {
    /* display: none; */
    float: right;
    font-family: fantasy;
    /* border: var(--text-normal) 2px solid; */
    padding: 12px;
    padding-bottom: 0px;
    /* padding-left: 40px; */
    /* margin-right: 50%; */
    /* z-index: 14; */
    /* margin-right: 20px; */
    /* flex-wrap: nowrap; */
    width: fit-content;
    max-width: 250px;
    color: var(--text-normal);
    text-align: right;
    position: absolute;
    right: 0px;
    z-index: 10;
    /* background: #15aabf; 
    background: rgb(210, 105, 30, .5);
    background: rgb(76,110,245,.5);*/
    background: rgb(255 0 0 / 50%);
    border-radius: 24px 0px 0px 24px;
}
   
    
div.language-ad-scratch:hover div.admonition-title {
    z-index: -10;
    
    }
    
div.language-ad-scratch div.admonition-title::before {
    content: "";
    display: inline-flex;
    background: #ccc url(http://maps.google.com/mapfiles/kml/pal5/icon12.png) no-repeat;
    width: 1.4rem;
    background-size: contain;
    background-color: transparent;
    height: 1.4rem;
    /* margin-left: 6px; */
}    
    
div[class*=language-ad-] {
    font-size: revert;
}


}

body.markdown-preview-view div.blocks pre , body.markdown-rendered  div.blocks pre {
    background-color: bisque; 
    width: 90%;
    margin: auto;
    overflow: scroll;
}

body.markdown-preview-view {
    font-weight: bolder;
}


body.markdown-preview-view summary {
    background: darkcyan;
    width: 70%;
}

.scratchblocks::-webkit-scrollbar {
    display: block;
    width: 20px;
    height: 20px!important;
    -webkit-border-radius: 34px;
}

.scratchblocks::-webkit-scrollbar-thumb {
    background-color: #c0ffc9 !important;
    height: 50px;
    border: 1px solid var(--text-muted);
}


.scratchblocks::-webkit-scrollbar-track {
    background: var(--text-accent-hover)!important;
    width: 20px;
    height: 40px;
    border-radius: 5px;
    border: 3px solid var(--text-muted) !important;
}


.scratchblocks {
    overflow: auto;
}



h1:before, h2:before, h3:before, h4:before, h5:before {
    display: none;
}

code[class*=language-] {
    display: inline;
}

.markdown-preview-view pre {
    background-color: transparent;
    display: inline;
}

.markdown-preview-view pre.mermaid {
    background: var(--text-normal);
    display: block;
    text-align: center;
}

:root[dir=ltr] .excalidraw .layer-ui__wrapper .zen-mode-transition.layer-ui__wrapper__footer-left--transition-left {
     -webkit-transform: translate(0px, 0)!important;
     transform: translate(0px, 0)!important;
}

/* fix margins */
.excalidraw-wrapper {
    margin: 0px!important;
    border-radius: 16px;
}
/* fix color */
.excalidraw.excalidraw-container.excalidraw--view-mode.theme--dark {
    background: var(--background-primary);
}
/* fix border */
.excalidraw.excalidraw-container.excalidraw--view-mode.theme--dark  {
  text-align: center;
  line-height: 100px;
  background: linear-gradient(to right, orange 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(blue 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, green 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(red 50%, rgba(255, 255, 255, 0) 0%);
  background-position: top, right, bottom, left;
  background-repeat: repeat-x, repeat-y;
  background-size: 10px 1px, 1px 10px;
}

/* add message */
.excalidraw-wrapper::after {
    content: "Click here if image is not visible";
    position: absolute;
    text-align: right;
    right: 0px;
    top: 0px;
    font-variant: small-caps;
    font-size: smaller;
    padding: 10px;
}

